@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------- */
/* Reset starts             */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
  background-color: rgb(227, 224, 247);
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
textarea {
  resize: none;
}

/* Remove default bullets */
ul {
  list-style: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* interactive elements */
/* ------------------- */

.vote-tag:active * {
  stroke: #fff;
  color: #fff;
}
.ux-tag {
  min-width: 3rem;
  max-width: max-content;
  padding: 12px;
}

.ux-tag:active {
  color: #fff;
}
/* ------------------- */
/* suggestions */
/* ------------------- */
.nav {
  min-width: 340px;
}
.background_nav {
  min-width: 340px;
}
.background_nav img {
  min-width: 340px;
}
.suggestion_header {
  min-width: 340px;
}

.main_content {
  min-width: 340px;
}
.feedback_cont {
  display: grid;
}
.area-b {
  order: 1;
}
.area-d {
  order: 2;
}
.area-c-a-cont {
  order: 3;
  justify-content: space-between;
}
.area-c {
  order: 3;
}
.area-a {
  order: 3;
}
.reply_container {
  position: relative;
}
.reply_container::before {
  content: '';
  background-color: #647196;
  position: absolute;
  min-height: 90%;
  width: 1px;
  left: 0%;
  top: 0px;
  opacity: 30%;
}
.error {
  border: 2px solid #d73737;
}

.alert-success {
  color: #155724;
  background: #d4edda;
}
.alert-error {
  color: #d73737;
  background: #f7bdbd;
}
.active-btn-planned {
  color: #3a4374;
  opacity: 1;
  border-bottom: 4px solid #f49f85;
}
.active-btn-inprogress {
  color: #3a4374;
  opacity: 1;
  border-bottom: 4px solid #ad1fea;
}
.active-btn-live {
  color: #3a4374;
  opacity: 1;
  border-bottom: 4px solid #62bcfa;
}
.main_roadmap {
  min-width: 400px;
}
.roadmapHeader {
  max-width: 1110px;
}
/* .roadmap_card {
  min-width: 275px;
} */
.roadmap_card::after {
  min-width: 375px;
}

@media (min-width: 768px) {
  .feedback_cont {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 1fr 1fr 44px;
    grid-template-rows: repeat(3, 33px);
    grid-template-areas:
      'a b b b b c'
      'a b b b b c'
      'a d d d d c';
  }

  .area-a {
    grid-area: a;
  }
  .area-b {
    grid-area: b;
  }
  .area-c {
    grid-area: c;
    padding-top: 30px;
  }
  .area-d {
    grid-area: d;
  }
  .vote-tag {
    order: 1;
  }
  /* .roadmap_card {
    max-width: 223px;
  } */
  .request_cont {
    background: #000;
    border: 4px solid brown;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 16px;
    column-gap: 10px;
  }
  .reply_container {
    /* border: 1px solid red; */
  }
  .reply_container::before {
    top: -31%;
    left: 3%;
  }
}
